<div class="general-form">
    <div class="container">
        <h1 class="augmented-title">My Profile
            {{#unless isUser}}
            <img class="verified-img" src="/images/verified_ig.png" alt="premium">
            {{/unless}}
        </h1>

        <a href="/user/edit/{{user.id}}">
            <p><b>Edit profile</b></p>
        </a>

        <p><b>Email:</b>{{user.email}}</p>
        <p><b>Name:</b>{{user.name}}</p>
        <p><b>Role:</b>{{user.role}}</p>


        {{#if isUser}}
        <a href="/user/role-premium/{{user._id}}" class="btn btn-warning">Become Premium</a>
        {{/if}}

        {{#unless isUser}}
        <a href="/user/my-houses" class="btn signin-home mb-4 mt-1">My houses</a>
        {{/unless}}

        <p>My favorite places:</p>
        {{#each user.favorites}}
        <a href="/places/details/{{this}}">
            <ul>
                <li><b>{{this}}</b></li>
            </ul>
        </a>
        {{/each}}
    </div>